.gallery
{
    display: inline-block;
    margin-top: 20px;
}
.close-icon{
  border-radius: 50%;
    position: absolute;
    right: 5px;
    top: -10px;
    padding: 5px 8px;
}
.form-image-upload{
    background: #e8e8e8 none repeat scroll 0 0;
    padding: 15px;
}
h1{
  text-align: center;
}
body{
  font-size: 20px;
}
.navbar-brand{
  font-size: 30px;
}
#subir{
  font-size: 20px;
}
.form-control{
height: 50px;
font-size: 20px;
}
#principal{

  height: 500px;
}
